*~
\#*#
*/typestubs/*
.#*
.DS_Store
*.a
*.d
*.o
*.so
*.gz
*.gcno
*.gcda
*.gcov
core
*.fluid
*.pyc
*.swp
*.log
*.bbl
*.blg
*.aux
*.dylib
legate_python
openblas
OpenBLAS
legion
gasnet*
legion_defines.h
realm_defines.h
cunumeric/install_info.py
/build/*
/docs/cunumeric/build
/docs/cunumeric/source/api/generated
/docs/cunumeric/source/comparison/comparison_table.rst.inc
*.egg-info
.cache
.vscode
.pytest_cache
/install*
/dist
/_skbuild
/_cmake_test_compile
.ipynb_checkpoints
.legate-test-last-failed
