name: Build

on:
  workflow_call:
    inputs:
      image:
        type: string
        required: true
      device:
        required: true
        type: string
      runs-on:
        required: true
        type: string

jobs:
  build:
    name: build-${{ inputs.device }}-sub-workflow

    permissions:
      # id-token: write # This is required for configure-aws-credentials
      contents: read  # This is required for actions/checkout
      # packages: write # This is required to push docker image to ghcr.io

    runs-on: ${{ inputs.runs-on }}

    container:
      options: -u root
      image: "${{ inputs.image }}"
      env:
        CC: "gcc"
        CXX: "g++"
        CUDAHOSTCXX: "g++"
        CUDA_VERSION: "${{ inputs.CUDA }}"
        DEFAULT_CONDA_ENV: "legate"
        SCCACHE_REGION: "us-east-2"
        SCCACHE_BUCKET: "rapids-sccache-devs"
        SCCACHE_S3_KEY_PREFIX: "legate-cunumeric-dev"
        USE_CUDA: "${{ inputs.device == 'gpu' && 'ON' || 'OFF' }}"
        GH_TOKEN: "${{ secrets.PERSONAL_ACCESS_TOKEN || github.token }}"
        VAULT_HOST: "${{ github.repository_owner != 'nv-legate' && 'https://vault.ops.k8s.rapids.ai' || '' }}"
    defaults:
      run:
        shell: su coder {0}
        working-directory: /home/coder

    steps:
      - name: Checkout cunumeric (= this repo)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: cunumeric
          persist-credentials: false

      - name: Dump environment
        run: |
          env

      - name: Copy source folder
        run: |
          set -x
          pwd
          cp -r $GITHUB_WORKSPACE/cunumeric .
          chown -R coder:coder cunumeric;
          ls -R

      - id: legate_core_info
        name: Read legate.core SHA
        shell: bash --noprofile --norc -xeo pipefail {0}
        run: |
          git_tag="$(jq -r '.packages.legate_core.git_tag' cunumeric/cmake/versions.json)";

          echo "git_tag=$git_tag" | tee -a "${GITHUB_OUTPUT}";

      - name: Download dependencies (artifacts)
        uses: ./cunumeric/.github/actions/download-artifacts
        with:
          device: "${{ inputs.device }}"
          git_sha: "${{ steps.legate_core_info.outputs.git_tag }}"
          gh-pat: "${{ secrets.PERSONAL_ACCESS_TOKEN || github.token }}"

      - if: github.repository_owner == 'nv-legate'
        name: Get AWS credentials for sccache bucket
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-2
          role-duration-seconds: 28800 # 8 hours
          role-to-assume: arn:aws:iam::279114543810:role/gha-oidc-nv-legate

      - name: Initialize devcontainer
        run: |
          . devcontainer-utils-post-attach-command;
          . devcontainer-utils-init-github-cli;

      - name: Build cunumeric
        run: |
          export PATH="/home/coder/cunumeric/continuous_integration:$PATH"
          build-cunumeric-all

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "cunumeric-${{ inputs.device }}-${{ github.sha }}"
          path: |
            /tmp/out
            /tmp/conda-build
