on:
  workflow_call:
    inputs:
      image:
        type: string
        required: true
      device:
        type: string
        required: true


jobs:
  build:
    name: "Build cunumeric (with ${{ inputs.device }} legate) on GH"
    uses:
      ./.github/workflows/gh-build.yml
    with:
      device: ${{ inputs.device }}
      image: ${{ inputs.image }}
      runs-on: ${{ github.repository_owner == 'nv-legate' && 'linux-amd64-32cpu' || 'ubuntu-latest' }}

  test:
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 1 CPU test
            options: test --cpus 1 --unit --debug
            runner: ${{ inputs.device == 'gpu' && 'linux-amd64-gpu-v100-latest-1' || 'linux-amd64-cpu4' }}
            has-gpu: false
            enabled: true

          - name: 2 CPUs test
            options: test --cpus 2 --debug
            runner: ${{ inputs.device == 'gpu' && 'linux-amd64-gpu-v100-latest-1' || 'linux-amd64-cpu8' }}
            has-gpu: false
            enabled: true

          - name: GPU test
            options: test --use cuda --gpus 1 --debug
            runner: linux-amd64-gpu-v100-latest-1
            has-gpu: true
            enabled: ${{ inputs.device == 'gpu' }}

          - name: 2 GPUs test
            options: test --use cuda --gpus 2 --debug
            runner: linux-amd64-2gpu
            has-gpu: true
            enabled: ${{ inputs.device == 'gpu' }}

          - name: OpenMP test
            options: test --use openmp --omps 1 --ompthreads 2 --debug
            runner: ${{ inputs.device == 'gpu' && 'linux-amd64-gpu-v100-latest-1' || 'linux-amd64-32cpu' }}
            has-gpu: ${{ inputs.device == 'gpu' }}
            enabled: false

          - name: 2 NUMA OpenMPs test
            options: test --use openmp --omps 2 --ompthreads 2 --numamem 2048 --debug
            runner: ${{ inputs.device == 'gpu' && 'linux-amd64-gpu-v100-latest-1' || 'linux-amd64-32cpu' }}
            has-gpu: ${{ inputs.device == 'gpu' }}
            enabled: false

          - name: Eager execution test
            options: test --use eager --debug
            runner: ${{ inputs.device == 'gpu' && 'linux-amd64-gpu-v100-latest-1' || 'linux-amd64-cpu4' }}
            has-gpu: ${{ inputs.device == 'gpu' }}
            enabled: true

          - name: mypy
            options: mypy
            runner: linux-amd64-cpu4
            has-gpu: false
            enabled: true

          - name: documentation
            options: docs
            runner: linux-amd64-32cpu
            has-gpu: false
            enabled: ${{ inputs.device == 'gpu' }}

    uses:
      ./.github/workflows/gh-test.yml
    with:
      name: ${{ matrix.name }}
      device: ${{ inputs.device }}
      image: ${{ inputs.image }}
      runs-on: ${{ matrix.runner }}
      has-gpu: ${{ matrix.has-gpu }}
      test-options: ${{ matrix.options }}
      enabled: ${{ matrix.enabled }}
