name: Test cunumeric on GH

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      device:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      has-gpu:
        required: true
        type: boolean
        description: "The runner has GPU(s)."
      test-options:
        required: true
        type: string
      log-name:
        required: true
        type: string
      enabled:
        required: true
        type: boolean

env:
  build_artifact_name: "cunumeric-${{ inputs.device }}-${{ github.sha }}"

jobs:
  test:
    name: ${{ inputs.name }}
    if: inputs.enabled && github.repository_owner == 'nv-legate'
    runs-on: ${{ inputs.runs-on }}

    container:
      options: -u root
      image: "${{ inputs.image }}"
      env:
        CUDA_VERSION: "${{ inputs.CUDA }}"
        NVIDIA_VISIBLE_DEVICES: ${{ env.NVIDIA_VISIBLE_DEVICES }}

    defaults:
      run:
        shell: su coder {0}
        working-directory: /home/coder

    steps:
      - if: inputs.has-gpu
        name: Run nvidia-smi to make sure GPU is working
        run: nvidia-smi

      - name: Install numactl
        run: |
          export DEBIAN_FRONTEND=noninteractive && \
            sudo apt-get update && \
            sudo apt-get install -y numactl

      - name: Checkout cunumeric
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: cunumeric
          persist-credentials: false

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.build_artifact_name }}
          path: /tmp

      - name: Run cunumeric test / analysis
        shell: su coder {0}
        run: |
          set -x
          mkdir -p ~/.test_logs
          sudo chown -R coder:coder ~/.test_logs

          export PATH="/home/coder/cunumeric/continuous_integration:$PATH"

          set -eo pipefail
          test-cunumeric ${{ inputs.test-options }} 2>&1 | tee ~/.test_logs/cunumeric-${{ github.sha }}-test-${{ inputs.log-name }}.log

      - name: Upload logs
        uses: actions/upload-artifact@v3
        with:
          name: "cunumeric-${{ inputs.device }}-${{ github.sha }}-test-${{ inputs.log-name }}-log"
          path: test_logs/cunumeric-${{ github.sha }}-test-${{ inputs.log-name }}.log
